<a href="https://colab.research.google.com/github/Luffycriador/numero-secreto/blob/main/Charts_in_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução a Collections

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
idades[4]

15

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
 idades.remove(15)

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
idades.append(27)
idades.remove(27)
idades

[39, 30, 18, 27]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

False

In [ ]:
idades.remove(30, 27)

TypeError: ignored

In [ ]:
idades.remove(30)
idades.remove(27)

In [ ]:
idades

[39, 18]

In [ ]:
idades.append(15)
idades.append(27)

In [ ]:
idades

[39, 18, 15, 27]

In [ ]:
if 28 in idades:
  idades.remove(28)

In [ ]:
idades

[39, 18, 15, 27]

In [ ]:
idades.remove(15)

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [ ]:
idades.append(27, 19)

TypeError: ignored

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento 27
Recebi o elemento 19

In [ ]:
idades = [20, 39, 18]
idades.extends([27, 19])
idades

AttributeError: ignored

In [ ]:
idades.append([27, 19])

In [ ]:
idades

[20, 39, 18, [27, 19]]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idades + 1)

TypeError: ignored

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos próprios

In [ ]:
class ContaCorrente:

  def __init__(self, codigo):
      self.codigo = codigo
      self.saldo = 0

  def deposita(self, valor):
      self.saldo += valor

  def __str__(self):
      return "[>>codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>codigo 15 Saldo 0<<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>codigo 15 Saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>codigo 47685 Saldo 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 47685 Saldo 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [ ]:
print(contas[0])

[>>codigo 15 Saldo 500<<]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(contas[0])

[>>codigo 15 Saldo 600<<]

In [ ]:
print(conta_do_gui)

[>>codigo 15 Saldo 600<<]

In [ ]:
contas[2].deposita(300)

In [ ]:
print(conta_do_gui)

[>>codigo 15 Saldo 900<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>codigo 15 Saldo 900<<] [>>codigo 47685 Saldo 1000<<]
[>>codigo 15 Saldo 1000<<] [>>codigo 47685 Saldo 1100<<]

In [ ]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>codigo 15 Saldo 1000<<] [>>codigo 47685 Saldo 1100<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

In [ ]:
guilherme = ('Guilherme', 37, 1981) # tupla
daniela = ('Daniela', 31, 1987)

In [ ]:
guilherme.append(6754)

AttributeError: ignored

In [ ]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO
conta_do_gui[1]

1000

In [ ]:
conta_do_gui[1] += 100

TypeError: ignored

In [ ]:
def deposita(conta): # variação "funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

(15, 1100)

In [ ]:
conta_do_gui

(15, 1000)

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))

In [ ]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: ignored

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
contaa_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 47685 Saldo 2100<<]

In [ ]:
contas.append(423768)

AttributeError: ignored

In [ ]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
contas

(<__main__.ContaCorrente at 0x7a0df911f190>,
 <__main__.ContaCorrente at 0x7a0df911eb60>)

In [ ]:
conta

In [5]:
print(conta_do_gui)
print(conta_da_dani)

NameError: ignored

# Herança e polimorfismo

In [22]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass = ABCMeta):

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def deposita(self, valor):
      self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
      return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [23]:
print(Conta(88))

TypeError: ignored

In [24]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [25]:
ContaInvestimento()

TypeError: ignored

In [27]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>codigo 16 Saldo 998<<]

In [28]:
conta17 = ContaCorrente(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>codigo 17 Saldo 998<<]

In [29]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>codigo 16 Saldo 998<<]
[>>codigo 17 Saldo 1007.0<<]

# array, evitaremos usar

In [30]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [31]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: ignored

In [32]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

In [33]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [34]:
numeros + 3

array([4. , 6.5])

In [35]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [36]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [37]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [38]:
conta1 == conta2

False

In [40]:
 contas = [conta1]
 conta1 in contas

True

In [41]:
conta2 in contas

False

In [43]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [44]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [45]:
conta1 in [conta2]

True

In [46]:
conta2 in [conta1]

True

In [49]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [50]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [51]:
conta1.deposita(10)

In [52]:
conta1 == conta2

False

In [56]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [57]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [58]:
conta1 == conta2

False

In [60]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [61]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [62]:
conta1 == conta2

False

In [65]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [64]:
isinstance(ContaCorrente(34), Conta)

True

In [70]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [74]:
range(len(idades)) # lazy

range(0, 8)

In [75]:
enumerate(idades) # lazy

In [76]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [77]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [81]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [82]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [85]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

In [86]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [87]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [88]:
15 < 32

True

In [91]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [92]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [95]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [96]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [97]:
idades.sort()

In [98]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [99]:
15 < 32

True

In [103]:
nomes = ["Guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [104]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [105]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [106]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [107]:
sorted(contas)

TypeError: ignored

In [108]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [111]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [112]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [113]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [117]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [118]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [119]:
conta_do_guilherme < conta_da_daniela

True

In [120]:
conta_do_guilherme > conta_da_daniela

False

In [121]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [123]:
for conta in sorted(contas,reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [124]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [125]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [126]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [127]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [133]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [134]:
    conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [135]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [136]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [139]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [140]:
conta_do_guilherme < conta_da_daniela

True

In [141]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [143]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo +=valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [152]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [153]:
conta_do_guilherme <= conta_da_daniela

True

In [154]:
conta_do_guilherme <= conta_do_paulo

False

In [155]:
conta_do_guilherme < conta_do_guilherme

False

In [156]:
conta_do_guilherme == conta_do_guilherme

True